
//colors
$color-brand: #009C83;
$color-text-main: #263245;
$color-border: #CFDAEA;
$color-bg-light: #F5F8FA;

$primary: $color-brand;
$secondary: #9FB3C4;
$danger: #FF2C00;
$dark: #4D586E;

//shadows box-shadow
$shadow-active: 0px 4px 20px 4px rgba(78, 95, 110, 0.2);
$shadow-header: 0px 10px 20px rgba(163, 177, 188, 0.1);

// borders
$border-radius-m: 18px;
$border-radius-l: 24px;
$border-radius-s: 4px;
