// переменные
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// шрифты
@import "../fonts/PT-Root-UI_Regular.css";
@import "../fonts/PT-Root-UI_Medium.css";
@import "../fonts/PT-Root-UI_Bold.css";
@import "../fonts/montserrat.css";

* {
    transition: all 0.4s;
}

html,
body,
p {
    font-family: 'PT Root UI', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

main {
    background-color: $color-bg-light;
}

a,
button,
input,
textarea {

    &:focus,
    &:active,
    &:hover {
        outline: 0 !important;
        outline-color: transparent !important;
        outline-width: 0 !important;
        outline-style: none !important;
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-weight: 700;
}

hr {
    color: $color-border;
    background-color: $color-border;
}

// header
nav.navbar {
    background-color: white;
    box-shadow: $shadow-header;

    a.navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $color-brand;
    }

    .navbar-toggler {
        position: relative;

        .navbar-toggler-icon {
            background-image: none;
            position: absolute;
            background-color: $secondary;
            width: 25px;
            height: 2px;
            border-radius: 2px;
            left: 50%;
            margin-left: -50%;
            top: 50%;

            &:before {
                content: "";
                background-image: none;
                position: absolute;
                background-color: $secondary;
                width: 25px;
                height: 2px;
                display: block;
                transition: all 0.25s;
                transform: translateY(-6px);
            }

            &:after {
                content: "";
                background-image: none;
                position: absolute;
                background-color: $secondary;
                width: 25px;
                height: 2px;
                display: block;
                transition: all 0.25s;
                transform: translateY(6px);
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $secondary;
                font-weight: normal;

                &:hover,
                &.active {
                    color: $dark;
                }
            }
        }
    }

    .dropdown.header-icon {
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background-color: $danger;
            top: 0;
            right: 5%;
        }

        .dropdown-toggle {
            display: block;
            position: relative;
            color: $secondary;

            &:after {
                display: none;
            }

            svg path {
                fill: $secondary;
            }

            &:hover,
            &.show {
                color: $dark;

                svg path {
                    fill: $dark;
                }
            }
        }

        .dropdown-menu.menu-card {
            background-color: white;
            box-shadow: $shadow-header;
            border-radius: $border-radius-m;
            top: 140%;
            left: -24px;
            border: none;

            a {
                color: $dark;
                margin-bottom: 1rem;
                text-decoration: none;
                font-weight: 400;

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    font-weight: 700;
                }

                &.active {
                    font-weight: 700;
                    color: $primary;
                }

                &.link-exit {
                    &:hover {
                        color: $danger;
                    }
                }
            }
        }
    }

    a.help-group {
        display: flex;
        text-decoration: none;
        color: $primary;
        margin-left: 60px;

        span {
            margin-right: 4px;
        }

        .help-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
            width: 21px;
            border-radius: 100%;
            position: relative;
            background-color: rgba($primary, .1);

            svg {
                stroke: $primary;
            }
        }

        &:hover {
            .help-icon {
                background-color: $primary;

                svg {
                    stroke: white;
                }
            }
        }
    }
}
// header end

