@font-face {
    font-family: 'PT Root UI';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src:
        url('PT-Root-UI_Medium.woff2') format('woff2'),
        url('PT-Root-UI_Medium.woff') format('woff'),
        url('PT-Root-UI_Medium.ttf') format('truetype');
}
