@font-face {
	font-family: 'PT Root UI';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
	src:
		url('PT-Root-UI_Bold.woff2') format('woff2'),
		url('PT-Root-UI_Bold.woff') format('woff'),
        url('PT-Root-UI_Bold.ttf') format('truetype');
}
