@font-face {
    font-family: 'PT Root UI';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src:
        url('PT-Root-UI_Regular.woff2') format('woff2'),
        url('PT-Root-UI_Regular.woff') format('woff'),
        url('PT-Root-UI_Regular.ttf') format('truetype');
}
