@font-face {
    font-family: 'PT Root UI';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src:
        url('PT-Root-UI_Light.woff2') format('woff2'),
        url('PT-Root-UI_Light.woff') format('woff'),
        url('PT-Root-UI_Light.ttf') format('truetype');
}
